<div class="dimmed light small">
  {% if message %}
    {{ message }}
  {% elif loaded %}
    <div style="color: {{ color }}"><i class="fa-solid fa-smog"></i> {{ impact }}{% if showIndex %} ({{ index }}){% endif %}</div>
    {% if showLocation %}
      <div class="xsmall">{{ city }}</div>
    {% endif %}
  {% else %}
    <div class="dimmed light small">
      {{ labelLoading|safe }}
    </div>
  {% endif %}
</div>
